<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">

<suite name="cross-browser" parallel="tests" data-provider-thread-count="2">
  
	  <listeners>
	    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
	  </listeners>


	<test name="FirefoxTest">	
	   <parameter name="browser" value="firefox"/>	
	      <classes>
	         <class name="runner.TestRunner"/>
	         <class name="failedTestRunner.TestRunner"/>
	      </classes>	
	</test>    

    
	<test name="ChromeTest">
	   <parameter name="browser" value="chrome"/>	
	       <classes>
	           <class name="runner.TestRunner"/>
	           <class name="failedTestRunner.TestRunner"/>
	       </classes>
	   </test> 
		<test name="FirefoxTest">	
	   <parameter name="browser" value="firefox"/>	
	      <classes>
	         <class name="runner.TestRunner"/>
	      </classes>	
	</test>
</suite>
